<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.httpserver">

    <!-- дозволи -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="JSD Solar History Monitor">

        <!-- ГОЛОВНА -->
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- НОВИЙ UI -->
        <activity android:name=".ControlActivity"/>
            
        <!-- СЕРВІС -->
        <service android:name=".ServerService"/>

        <!-- АВТОЗАПУСК -->
        <receiver
            android:name=".BootReceiver"
            android:enabled="true"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>

    </application>

</manifest>
